<main class="w-screen">
  <div class="grid grid-cols-5 w-full">
    <%= for member <- members do %>
      <div>
        <h1>
          <%= member["name"] %>
        </h1>
        <%= if member["is_live"] do %>
          <img class="rounded-md w-24" src='/static/icons/<%= member["icon"] %>.webp' />
          <% else %>
            <img class="grayscale rounded-md w-24" src='/static/icons/<%= member["icon"] %>.webp' />
            <% end %>
      </div>
      <% end %>
  </div>
</main>